<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lym.stamp"
    android:versionCode="1.0.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".StampApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 主界面Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.ColorsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.SideActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.DigitsActivity"
            android:label="@string/app_name" >
        </activity>
        <service android:name=".service.CrashService">

        </service>
    </application>


</manifest>
